body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/ybg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Mis trabajos */

#portafolio .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contactar form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contactar form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }
}